header {
    margin-bottom: 3rem;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: lighter;
}

.content h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: lighter;
}

.content p{
    line-height: 1.6;
}

.shows h1 {
    border-top: 1px solid black;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

.cast img {
    width: 100%;
}

.selected a {
    font-weight: bold;
    color: black;
}


div:first-of-type {
    font-weight: bold;
    font-size: 0.8rem;
    width: 25%;
}

div:last-of-type {
    font-style:italic;
}

#game-of-thrones .seasons li:last-of-type::after{
    content: "*";
}

#game-of-thrones .seasons::after{
    content:"* Final Season";
    font-size: 0.7rem;
    color: #999;
}












